# NBA Database Transformation

## Minimal adjustments

In [58]:
import pandas as pd
from dotenv import load_dotenv
import sqlalchemy as db
import re
import os

In [59]:
load_dotenv("./.env")

True

In [60]:
server = 'postgresql'
username = 'postgres'
password = os.getenv("password")
ip = 'localhost'
database = 'nba'

# create the engine
engine = db.create_engine(f'{server}://{username}:{password}@{ip}/{database}')

# open the connection
conn = engine.connect()

In [61]:
players=pd.read_sql_table('players', con=conn)
players_season_average_2010s=pd.read_sql_table('players_season_average_2010s', con=conn)
seasons=pd.read_sql_table('seasons', con=conn)

In [62]:
players["position"]=players["position"].apply(lambda x: x[0] if len(x)>0 else x)

In [63]:
players

,player_id,first_name,last_name,position,team,Ht,weight
0,14,Ike,Anigbogu,C,Indiana Pacers,NaN,NaN
1,25,Ron,Baker,G,New York Knicks,NaN,NaN
2,47,Jabari,Bird,G,Boston Celtics,NaN,NaN
3,67,MarShon,Brooks,G,Memphis Grizzlies,NaN,NaN
4,71,Lorenzo,Brown,G,Toronto Raptors,NaN,NaN
...,...,...,...,...,...,...,...
3263,666641,Jaylen,Hoard,F,Portland Trail Blazers,NaN,NaN
3264,213,Aaron,Holiday,G,Indiana Pacers,1.8538,83.805
3265,214,Jrue,Holiday,G,New Orleans Pelicans,1.9288,92.865
3266,215,Justin,Holiday,F,Indiana Pacers,1.9788,81.993
3267,216,Rondae,Hollis-Jefferson,F,Toronto Raptors,2.0038,98.301

In [64]:
players_season_average_2010s["min"]=players_season_average_2010s["min"].apply(lambda x: int(x[0:2]) if len(x)==5 else int(x[0]))

In [65]:
players_season_average_2010s["min"]

0       23
1       25
2       35
3       25
4        8
        ..
3225    14
3226    10
3227    35
3228    31
3229    17
Name: min, Length: 3230, dtype: int64

In [54]:
players.to_csv("./data/players.csv",index=False)

In [66]:
players_season_average_2010s.to_csv("./data/players_season_average_2010s.csv",index=False)

In [53]:
seasons.to_csv("./data/seasons.csv",index=False)