# Before your start:
- Comment as much as you can
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [2]:
# Your code here:
def count_numbers(input_list):
    function_list = [item for item in input_list if type(item)==int or type(item)==float]
    return len(function_list)
list = [2,0,32,"eai","quale",5]
count_numbers(list)

4

Create a function that returns the mean of a list of numbers

In [3]:
# Your code here:
def mean(input_list):
    global function_list
    function_list = [item for item in input_list if type(item)==int or type(item)==float]
    return sum(function_list)/len(function_list)
input_list = [2,0,3.9,"eai","quale",2]
count_numbers(input_list)

4

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [4]:
# Your code here:
def standard_deviation(input_list):
    mean_of_list = mean(input_list)
    count_of_list = count_numbers(input_list)
    deviation_list = [(item-mean_of_list)**2 for item in function_list]
    return (sum(deviation_list)/count_of_list)**0.5
standard_deviation([0,1,2,"eai"])

0.816496580927726

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [5]:
# Your code here:
def complete_analisys_of_list(input_list):
    """
    This function returns, in this particular order, the count of numbers, the mean and standard deviation of a
    given list using the parameter input_list
    For example, input_list = [0,1,2,"eai"] returns (3, 1.0, 0.816496580927726)
    """
    mean_of_list = mean(input_list)
    count_of_list = count_numbers(input_list)
    sd_of_list = standard_deviation(input_list)
    return count_of_list, mean_of_list, sd_of_list

In [6]:
complete_analisys_of_list([0,1,2,"eai"])

(3, 1.0, 0.816496580927726)

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [7]:
import re
# Your code here:
def cleaning(string):
    if type(string) == str:
        newstring = re.sub("[-()\"#/@;:<>{}`+=~|.!?,]",'', string )
        newstring = newstring.lower().split()
        newstring.sort()
        return " ".join(newstring)
    else:
        print("Please enter a string")
cleaning("oPa ! ! .!eaI")

'eai opa'

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [8]:
# Your code here:
def classification(income:int):
    """Input income per year, the function will rate from 0 to 5"""
    if income>1000000:
        rate=5
    elif income>500000:
        rate=4
    elif income>100000:
        rate=3
    elif income>50000:
        rate=2
    elif income>0:
        rate=1
    else:
        rate=0
    return rate
classification(800001)

4

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [6]:
# Your code here:
def recursion():
    try:
        age = int(input("What is your age?"))
    except:
        recursion()
    else:
        if age<150 and age>0:
            print("Thank you")
        else:
            recursion()

In [8]:
recursion()

What is your age?gm
What is your age?emfwo
What is your age?151
What is your age?0
What is your age?-1
What is your age?2
Thank you

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order  

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [51]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
buzz.split(" ")
def alphabetical_buzz():
    global buzz
    buzz_list = buzz.split(", ")
    buzz_list.sort()
    buzz = " ".join(buzz_list)
    return buzz
alphabetical_buzz()

AI Big Data Data Warehouse Machine Learning Pipeline

Make a function without return that modifies the buzz string and puts it in alphabetical order

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [55]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
buzz.split(" ")
def alphabetical_buzz():
    global buzz
    buzz_list = buzz.split(", ")
    buzz_list.sort()
    buzz = " ".join(buzz_list)
alphabetical_buzz()

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [56]:
import pandas as pd

In [57]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

Expected output:

|    |   sepal_length |   sepal_width |   petal_length |   petal_width |
|---:|---------------:|--------------:|---------------:|--------------:|
|  0 |            5.1 |           3.5 |            1.4 |           0.2 |
|  1 |            4.9 |           3   |            1.4 |           0.2 |
|  2 |            4.7 |           3.2 |            1.3 |           0.2 |
|  3 |            4.6 |           3.1 |            1.5 |           0.2 |
|  4 |            5   |           3.6 |            1.4 |           0.2 |

In [58]:
# Your code here:

iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

Expected output:
````python
sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64
````

In [61]:
import numpy as np
iris_numeric.mean()

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

Expected output:
````python
sepal_length    0.291357
sepal_width     0.307137
petal_length    0.108012
petal_width     0.078881
dtype: float64
````

In [64]:
iris_numeric.mean().std

<bound method Series.std of sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64>

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [72]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    y=0.393701*x
    return y

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [70]:
# Your code here:
iris_inch = cm_to_in(iris_numeric)
iris_inch

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874
5      2.125985     1.535434      0.669292      0.15748
6      1.811025     1.338583      0.551181      0.11811
7      1.968505     1.338583      0.590552      0.07874
8      1.732284     1.141733      0.551181      0.07874
9      1.929135     1.220473      0.590552      0.03937

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [74]:
# Define constant below:

error = 2
def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    global error
    return x*error
iris_constant = add_constant(iris_numeric)
iris_constant

   sepal_length  sepal_width  petal_length  petal_width
0          10.2          7.0           2.8          0.4
1           9.8          6.0           2.8          0.4
2           9.4          6.4           2.6          0.4
3           9.2          6.2           3.0          0.4
4          10.0          7.2           2.8          0.4
5          10.8          7.8           3.4          0.8
6           9.2          6.8           2.8          0.6
7          10.0          6.8           3.0          0.4
8           8.8          5.8           2.8          0.4
9           9.8          6.2           3.0          0.2

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [94]:
# Your code here:
def max_values(df):
    maximum_list = list(df.max())
    i=0
    while i<len(maximum_list):
        print(f"The maximum value of {list(df.columns)[i]} is {maximum_list[i]}")
        i+=1
    
max_values(iris_numeric)

The maximum value of sepal_length is 5.4
The maximum value of sepal_width is 3.9
The maximum value of petal_length is 1.7
The maximum value of petal_width is 0.4

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [96]:
iris_numeric["sepal_length"]

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    4.6
7    5.0
8    4.4
9    4.9
Name: sepal_length, dtype: float64

In [97]:
# Your code here:
iris_numeric["total_length"]=iris_numeric["sepal_length"]+iris_numeric["petal_length"]
iris_numeric["total_width"]=iris_numeric["sepal_width"]+iris_numeric["petal_width"]
iris_numeric

,sepal_length,sepal_width,petal_length,petal_width,total_length,total_width
0,5.1,3.5,1.4,0.2,6.5,3.7
1,4.9,3.0,1.4,0.2,6.3,3.2
2,4.7,3.2,1.3,0.2,6.0,3.4
3,4.6,3.1,1.5,0.2,6.1,3.3
4,5.0,3.6,1.4,0.2,6.4,3.8
5,5.4,3.9,1.7,0.4,7.1,4.3
6,4.6,3.4,1.4,0.3,6.0,3.7
7,5.0,3.4,1.5,0.2,6.5,3.6
8,4.4,2.9,1.4,0.2,5.8,3.1
9,4.9,3.1,1.5,0.1,6.4,3.2